.App {
    text-align: center;
    width: 750px;
}

#explain_portrait_and_landscape {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    text-shadow: 1px 1px 2px black;

    background: url("parchment-2123461_1280.jpg") no-repeat;
    background-size: cover;

    position: fixed;
    z-index: 300000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.v-mid-box > *, .v-mid-box:after {
    display: inline-block;
    vertical-align: middle;
}

.v-mid-box:after {
    content: '';
    width: 0;
    height: 100%;
}
