.App {
    text-align: center;
    width: 750px;
}

#explain_portrait_and_landscape {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    text-shadow: 1px 1px 2px black;

    background: url("parchment.jpg") no-repeat;
    background-size: cover;

    position: fixed;
    z-index: 300000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.App-btns {
    border-bottom: solid 1px #dddddd;
}

.App-btns.in-middle {
  border-bottom: dashed 1px #dddddd;
}

.App-btns.one > * {
    width: 100%;
}

.App-btns.two > * {
    width: 50%;
}

.App-btns.three > * {
    width: 33.33%;
}

.App-btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    cursor: default;
}

.App-btn.active {
    color: #121212;
    text-shadow: 1px 1px 3px blueviolet;
    background-color: #dddddd;
}

.App-btn > a {
  color: black;
  text-decoration: underline;
}
