.fancy-list-root {
  background-color: #ddd;
  overflow: hidden;
}

.fancy-list-item {
  margin: 20px auto 0;
  width: 700px;
  background-color: white;
  text-align: left;
  overflow: hidden;
  transition: opacity .5s, transform .5s;
  transform-origin: 50% 0 0;
  transform: scale(0);
  opacity: 0;
}

.fancy-list-item.active {
  transform: scale(1);
  opacity: 1;
}

.fancy-list-item:last-child {
  margin-bottom: 20px;
}

.fancy-list-cover > img {
  border-radius: 50%;
  margin: 1em 0 0 3em;
}

.fancy-list-date {
  margin: 0 0 0 3em;
}

.fancy-list-title {
  text-align: center;
}

.fancy-list-brief {
  margin: 1em;
}