.App-list {
    width: inherit;
}

.App-btns {
    border-bottom: solid 1px #dddddd;
}

.App-btns.one > * {
    width: 100%;
}

.App-btns.two > * {
    width: 50%;
}

.App-btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    cursor: default;
}

.App-btn.active {
    color: whitesmoke;
    background-color: midnightblue;
}

.App-btn > a {
  text-decoration: none;
  color: black;
}

ul.list {
    width: 750px;

    list-style: none;
}
