li.category-item {
  width: inherit;
}

li.category-item > .category-title {
  font-size: xx-large;
  line-height: 1.5em;

  border-bottom: dashed 1px #dddddd;
}

li.category-item > .category-content {
  text-align: left;
  padding: 1em;

  overflow: hidden;
  max-height: 100px;

  border-bottom: dashed 1px #dddddd;
}