.info-root {
  position: fixed;
  left: 0;
  top: 0;
}

.info-root-mask {
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.info-root-mask.active {
  display: block;
}

.info-root-main {
  z-index: 100000;
  width: 640px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform .5s;
  transition-timing-function: cubic-bezier(0,1,.57,1.35);
  background-color: beige;

  overflow: auto;
}

.info-root-main.active {
  transform: translateX(0);
}

.avatar {
  margin-top: 3em;
}

.avatar > .img {
  margin: 0 auto;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 1px transparent;
  box-shadow: inset 0 0 10px #6463ff;

  background: transparent url("./avatar.jpg") no-repeat 30% 18%;
  background-size: 150%;
}

.text {
  margin-top: 1em;
}

.info-btn {
  display: inline-block;
  margin: 1em auto;
  padding: 0 1em;

  line-height: 2em;

  border: solid 1px #ddd;
  border-radius: 1em;

  background-color: lightgreen;

  transition: backgroundColor 1s;

  color: whitesmoke;
  font-size: 20px;
}

.info-btn:hover, .info-btn:focus {
  background-color: green;
}
