.content {
  width: 100%;
}

.dimmer {
  background-color: rgba(0, 0, 0, 0.618);
}

.content.dimmer.loading {
  height: 300px;
  line-height: 300px;
  text-align: center;
}

.content.dimmer:not(.loading) {
  height: 0;
}